In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
import glob

**Character 0**

In [3]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_0'# use your path
all_files = glob.glob(path + "/*.csv")

In [4]:
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)

In [5]:
df_zero = pd.DataFrame(data)
df_zero['label'] = [0]*1000

**Character 1**

In [6]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_1'# use your path
all_files = glob.glob(path + "/*.csv")

In [7]:
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)

In [8]:
df_one = pd.DataFrame(data)
df_one['label'] = [1]*1000

**Character 2**

In [9]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_2'# use your path
all_files = glob.glob(path + "/*.csv")

In [10]:
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)

In [11]:
df_two = pd.DataFrame(data)
df_two['label'] = [2]*1000

**Character 3**

In [12]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_3'# use your path
all_files = glob.glob(path + "/*.csv")

In [13]:
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)

In [14]:
df_three = pd.DataFrame(data)
df_three['label'] = [3]*1000

**Character 4**

In [15]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_4'# use your path
all_files = glob.glob(path + "/*.csv")

In [16]:
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)

In [17]:
df_four = pd.DataFrame(data)
df_four['label'] = [4]*1000

**Character 5**

In [18]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_5'# use your path
all_files = glob.glob(path + "/*.csv")
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)
df_five = pd.DataFrame(data)
df_five['label'] = [5]*1000

**Character 6**

In [19]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_6'# use your path
all_files = glob.glob(path + "/*.csv")
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)
df_six = pd.DataFrame(data)
df_six['label'] = [6]*1000

**Character 7**

In [20]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_7'# use your path
all_files = glob.glob(path + "/*.csv")
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)
df_seven = pd.DataFrame(data)
df_seven['label'] = [7]*1000

**Character 8**

In [21]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_8'# use your path
all_files = glob.glob(path + "/*.csv")
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)
df_eight = pd.DataFrame(data)
df_eight['label'] = [8]*1000

**Character 9**

In [22]:
path = r'C:\Users\AYUSH\Desktop\Sem 7\EE4708\final_project\Training Dataset\character_9'# use your path
all_files = glob.glob(path + "/*.csv")
data = []
for file in all_files:
    char = pd.read_csv(file, header=None)
    char = char.fillna(char.mean())
    x = char.values.ravel()
    data.append(x)
df_nine = pd.DataFrame(data)
df_nine['label'] = [9]*1000

In [23]:
final_data = pd.concat([df_zero,df_one,df_two,df_three,df_four,df_five,df_six,df_seven,df_eight,df_nine])

In [24]:
final_data

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,label
0,25.529412,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00,0.000000,...,6.0,221.000000,238.000000,20.000000,0.000000,0.0,0.000000,0.000000,43.0,0
1,55.041667,0.000000,0.000000,0.0,22.347826,0.000000,0.000000,0.0,0.00,0.000000,...,0.0,0.000000,28.772727,20.736842,0.000000,0.0,0.000000,8.318182,0.0,0
2,0.000000,0.000000,0.000000,0.0,23.695652,0.000000,0.000000,0.0,0.00,20.520000,...,52.0,21.000000,4.000000,103.130435,0.000000,0.0,0.000000,0.000000,0.0,0
3,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.00,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,58.894737,0.0,0
4,0.000000,0.000000,39.400000,0.0,0.000000,0.000000,0.000000,0.0,0.00,20.952381,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0.000000,0.000000,107.777778,0.0,0.000000,0.000000,0.000000,0.0,0.00,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,9
996,0.000000,0.000000,76.125000,0.0,118.304348,0.000000,0.000000,0.0,0.00,0.000000,...,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,9
997,0.000000,29.352941,0.000000,1.0,57.000000,59.045455,89.583333,63.0,59.00,56.000000,...,0.0,59.478261,0.000000,0.000000,0.000000,0.0,28.722222,0.000000,0.0,9
998,32.000000,54.388889,0.000000,0.0,0.000000,2.000000,1.000000,10.0,116.56,167.000000,...,10.0,3.000000,144.263158,0.000000,0.000000,0.0,0.000000,0.000000,0.0,9
999,0.000000,0.000000,2.000000,16.0,15.000000,14.000000,171.315789,63.0,181.75,63.000000,...,0.0,0.000000,0.000000,0.000000,34.615385,0.0,0.000000,20.750000,0.0,9